.AppTemplate {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
    position: relative; // Loading 컴포넌트가 main을 덮도록 함
  }

  main.auth {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
