.JunggaeTradeModal {
  .dark {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
  }
  .modal {
    z-index: 10;
    background: white;
    position: fixed;
    left: 50%;
    top: 8rem;
    width: 512px;
    transform: translate(-50%);
    padding: 1rem;
    border-radius: 4px;

    .head {
      display: flex;
      align-items: center;
      h3 {
        margin: 0;
      }
      .exit {
        margin-left: auto;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }
}
