@import "~open-color/open-color";

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  //background: #ffffff;
  height: 63px;
  width: 63px;
  //float: right;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 18px;
  cursor: pointer;
  padding: 10px 28px 14px 0;

  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 28px;
    background: #fdd944;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }

  &.active span {
    background-color: transparent !important;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media only screen and (max-width: 1040px) {
  .nav-mobile {
    display: block;
  }

  nav.HeaderNav {
    width: 100%;
    align-self: center;

    ul {
      display: none;
      list-style: none;
      background-color: #353a4c;

      &.active {
        display: block;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 0;
        margin-top: 13px;
        width: 100%;
      }

      li {
        float: none;
        font-size: 1.1rem;
        color: #fff;
        cursor: pointer;
        box-sizing: content-box;
        padding: 14px 16px;

        a {
          color: #fff;
        }

        &.active,
        &:hover {
          position: relative;
          background-color: #ffda44;
          color: #353a4c;

          a {
            color: #353a4c;
          }
        }
      }
    }
  }
}

@media (min-width: 1041px) {
  .nav-list {
    display: block !important;
  }

  .nav-mobile {
    display: none;
    position: absolute;
  }

  // 랜딩 페이지에서만 헤더를 흰색으로
  header.landing {
    nav.HeaderNav {
      ul {
        li {
          color: #fff;

          a {
            color: #fff;

            &:hover {
              color: #fff;
            }
          }

          &.active,
          &:hover {
            &::after {
              background-color: #fff;
            }
          }

        }
      }
    }
  }

  nav.HeaderNav {
    align-self: center;
    display: block;

    ul {
      display: inline;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        font-size: 1.1rem;
        color: #979197;
        cursor: pointer;
        box-sizing: content-box;
        margin-left: 30px;

        & + li {
          margin-left: 30px;
        }

        a {
          color: #979197;

          &:hover {
            color: #554d56;
          }
        }

        &.active,
        &:hover {
          position: relative;
          color: #554d56;

          &::after {
            position: absolute;
            background-color: #554d56;
            content: "";
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
          }

          a {
            color: #554d56;
          }
        }
      }
    }
  }
}

/* 추후 수정. nav색 */
header.landing {
  nav.HeaderNav {
    #nav-toggle {
      span,
      span:before,
      span:after {
        background: #ffffff;
      }
    }
  }
}
