@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "~open-color/open-color";

body {
  margin: 0;
  box-sizing: border-box;
  color: #000;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: inherit;
}

.container {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;

  &.content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    text-decoration: none;
  }
}

.ant-btn-primary,
.ant-btn-primary:active {
  background-color: #ffda44;
  border-color: #ffda44;

  &:hover,
  &:focus {
    background-color: #fff;
    border-color: #ffda44;
    color: #ffda44;
  }
}
