@import "~open-color/open-color";

header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;

  .logo {
    height: 60px;
  }
}

.menu.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
