@import "~open-color/open-color";

.Header {
  background: $oc-indigo-5;
  height: 4rem;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  .logo {
    font-weight: 600;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .side {
    flex: 1;
    display: flex;
    align-items: center;
    &.right {
      justify-content: flex-end;
    }
    padding-left: 1rem;
    padding-right: 1rem;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}
