.InputWithLabel + .InputEmail {
  margin-top: 30.6px;
}

.InputEmail + .InputWithLabel {
  margin-top: 30.6px;
}

.InputEmail {
  display: flex;

  .InputWithLabel {
    flex: 1;
  }

  button {
    border: 0;
    outline: none;
    background-color: #4e5379;
    color: #fff;
    width: 58px;
    cursor: pointer;
  }
}
