@import "~open-color/open-color";

.ContractUploadTemplate {
  h1 {
    font-size: 22px;
    font-weight: 500;
    color: #222;
    margin-bottom: 23.5px;
  }

  h2 {
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 11px;
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 23.5px;
  }

  .form-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-group {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    label.form-label {
      font-size: 14px;
      font-weight: 300;
      color: #222;
      width: 183.5px;
    }

    input {
      outline: none;
      border: 1px solid #e2e2e2;
      padding: 0 13px;
      height: 43px;
      font-size: 14px;

      &[type="text"],
      &[type="email"] {
        width: 450px;
      }
    }
  }

  .form-group.currency {
    position: relative;
    display: inline-flex;

    input {
      width: 250px;
      padding-right: 55px;
    }

    &::after {
      content: "만원";
      position: absolute;
      right: 16px;
      font-size: 15px;
      font-weight: 300;
      color: #222;
    }
  }

  .action {
    text-align: center;

    button {
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 0;
      background-color: #ffc107;
      color: white;
      font-size: 1rem;
      width: 158px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
  }

  .progressbar-wrapper {
    padding-bottom: 0;
  }
}
