@import "~open-color/open-color";
@import "lib/StyleUtils.scss";

.AuthButton {
  margin-top: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;

  background: $oc-yellow-5;
  color: white;

  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 2px;

  cursor: pointer;
  user-select: none; /* 텍스트 드래그 방지 */
  transition: 0.2s all;

  &:hover {
    background: $oc-yellow-4;
    box-shadow: shadow(1);
  }

  &:active {
    background: $oc-yellow-6;
  }
}
