@import "~open-color/open-color";

.InputWithLabel {
  & + & {
    /* 인접한 뒷 Wrapper에 적용 */
    margin-top: 1rem;
  }
  .label {
    font-size: 1rem;
    color: $oc-gray-6;
    margin-bottom: 0.25rem;
  }
  input {
    width: 100%;
    border: 1px solid $oc-gray-3;
    border-radius: 2px;
    outline: none;
    line-height: 2.5rem;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
