@import "~open-color/open-color";

.card-wrapper,
.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ebebeb;
    margin-bottom: 6rem;
    background-color: #fff;

    .content {
      img {
        width: 153px;
      }
    }
  }
}

.card-wrapper {
  .card {
    max-width: 300px;

    .content {
      padding: 1rem 3.5rem;
    }
  }
}
