@import "~open-color/open-color";

header.landing {
  background: url(../../../static/images/bg-landing.jpg) fixed;
  background-size: 100%;
  box-shadow: none;
}

@media (max-width: 1040px) {
  header {
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    box-shadow: 0 2px 4px rgba(85, 77, 86, 0.2);
    background-color: #fff;
    transition: background-color 0.2s linear; // 스크롤 되었을 경우, background-color가 일정한 속도로 변화
    z-index: 10;

    .logo {
      height: 30px;
      margin-left: 1rem;
    }
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 1041px) {
  header {
    padding-top: 13px;
    padding-bottom: 13px;
    display: flex;
    //background-size: cover;
    box-shadow: 0 2px 4px rgba(85, 77, 86, 0.2);
    background-color: #fff;
    transition: background-color 0.2s linear; // 스크롤 되었을 경우, background-color가 일정한 속도로 변화
    z-index: 10;

    .logo {
      height: 40px;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
  }
}
