.CoverContainer {
  background: url("../../../static/images/bg-landing.jpg") fixed;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .subtitleDiv {
    font-weight: 300;
    text-align: center;
    color: #fff;
  }
  .searchDiv {
    background-color: #ffffff;
    border-radius: 5px;

    input {
      font-size: 1rem;
      border: none;
      outline: none;
      color: #333;
      background: url("../../../static/images/icon/search.svg") no-repeat 10px
        8px;
      padding-left: 35px;
      background-size: 15px;
      width: 100%;
    }
  }
}

@media (min-width: 320px) {
  .CoverContainer {
    height: 200px;
    background-size: 130%;
    .subtitleDiv {
      margin-top: 60px;
      font-size: 19px;
    }
    .searchDiv {
      margin-top: 10px;
      width: 280px;

      input {
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 650px) {
  .CoverContainer {
    height: 300px;
    background-size: 100%;
    .subtitleDiv {
      margin-top: 100px;
      font-size: 24px;
    }
    .searchDiv {
      width: 350px;

      input {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .CoverContainer {
    height: 400px;
    .subtitleDiv {
      margin-top: 150px;
      font-size: 27px;
    }
    .searchDiv {
      width: 400px;
      margin-top: 20px;

      input {
        font-size: 1rem;
        height: 37px;
        background-position: 10px 10px;
        padding-left: 45px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .CoverContainer {
    height: 670px;
    .subtitleDiv {
      margin-top: 200px;
      font-size: 33px;
    }
    .searchDiv {
      width: 550px;
      margin-top: 35px;

      input {
        font-size: 1.3rem;
        height: 55px;
        background-position: 20px 18px;
        background-size: 20px;
        padding-left: 70px;
      }
    }
  }
}
