.MyPageTemplate {
  /* message 출력시 나오는 스크롤바 없애기 */
  .ant-layout-content {
    overflow-y: hidden;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      width: 25%;
      min-width: 120px;
      background-color: #f9f9f9;
    }

    th,
    td {
      padding: 16px;
      border-top: 1px solid #ebedf0;
      border-bottom: 1px solid #ebedf0;
    }
  }

  .profile {
    display: flex;
    flex-direction: column;
    width: 120px;

    .action {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
    }
  }

  .button-addon {
    display: flex;

    input {
      padding-right: 57px;
    }

    button {
      margin-left: -57px;
      width: 57px;
      border-radius: 0 4px 4px 0;
    }
  }

  .action {
    margin-top: 1rem;
  }
}
