@import "~open-color/open-color";

.ContractTab {
  display: flex;
  justify-content: space-between;

  ul {
    margin: 0;
    padding: 0;
    padding-bottom: 2.2rem;

    li {
      display: inline-block;
      font-size: 1rem;
      list-style: none;
      cursor: pointer;
      color: $oc-gray-5;

      &.active {
        color: #000;
      }

      & + li {
        margin-left: 30px;
      }
    }
  }

  ul.type {
    li + li {
      margin-left: 8px;
    }
  }
}
