@import "~open-color/open-color";

.ContractUploadTemplate {
  h1 {
    font-weight: 100;
    font-size: 1.2rem;
  }

  h2 {
    font-weight: 100;
    font-size: 1.3rem;
    border-bottom: 1px solid #333;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .form-group {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    label.form-label {
      min-width: 7rem;
    }

    input {
      border: 1px solid $oc-gray-4;
      background-color: $oc-gray-0;
      padding: 10px 13px;
      border-radius: 3px;
      font-size: 0.9rem;

      &[type="text"],
      &[type="email"] {
        width: 350px;
      }
    }
  }

  .action {
    text-align: center;

    button {
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      background: #353a4c;
      color: white;
      font-size: 1rem;
      width: 150px;
      border-radius: 5px;
      border: none;
      letter-spacing: 3px;
    }
  }

  .progressbar-wrapper {
    padding-bottom: 0;
  }
}
