.AuthWrapper {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 95%;
  max-width: 500px;

  .shadowedBox {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }

  .contents {
    padding: 2rem;
  }
}
