@import "lib/utils/StyleUtils.scss";

.AuthWrapper {
  display: flex;
  justify-content: center;
  padding-top: 6.2rem;
  padding-bottom: 6.2rem;

  .shadowedBox {
    width: 500px;
    box-shadow: shadow(3);
    border-radius: 4px;
  }

  .contents {
    padding: 2rem;
  }
}
