@import "~open-color/open-color";

@media (max-width: 767px) {
  .AgentList {
    display: none;
  }
}

.AgentList {
  overflow-y: auto;
  width: 390px;

  .agent {
    border: 1px solid $oc-gray-4;
    padding: 2rem;
    display: flex;
    align-items: center;

    & + .agent {
      border-top: 0;
    }

    .circle {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 2rem;
      text-align: center;
      line-height: 70px;
      font-size: 1.5rem;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      margin: 0;

      & + p {
        margin-top: 0.5rem;
      }
    }
  }
}
