@import "~open-color/open-color";

/**
  first section
 */
.cover {
  background: url("../../static/images/cover.png") fixed;
  background-size: 100%;
}

@media (min-width: 320px) {
  .cover {
    height: 159px;

    .logo {
      img {
        display: none;
      }
    }
  }

  .subtitle {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 90px;
    font-size: 1.3rem;
    font-weight: 100;
  }

  .search {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    top: 140px;
    padding: 0.8rem 1rem;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 50px;

    input {
      font-size: 1rem;
      border: none;
      background: none;
      outline: none;
      color: #333;
      width: 270px;
      background-image: url("../../static/images/icon/search.png");
      background-position: 1px 2px;
      background-repeat: no-repeat;
      background-size: 15px;
      padding-left: 25px;

      &::placeholder {
        color: $oc-gray-5;
        font-size: 9pt;
      }
    }
  }
}

@media (min-width: 750px) {
  .cover {
    height: 239px;

    .logo {
      position: absolute;
      left: 120px;
      top: 95px;

      img {
        display: block;
        height: 43px;
      }
    }
  }

  .subtitle {
    left: 120px;
    right: auto;
    text-align: left;
    top: 160px;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .search {
    left: 120px;
    right: auto;
    margin: 0;
    width: auto;
    top: 210px;

    input {
      width: 500px;
      background-position: 3px 1px;
      background-size: 18px;
      padding-left: 35px;

      &::placeholder {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 981px) {
  .cover {
    height: 540px;

    .logo {
      position: absolute;
      left: 24.3%;
      top: 185px;

      img {
        height: 73px;
      }
    }
  }

  .subtitle {
    position: absolute;
    left: 24.3%;
    top: 310px;
    font-size: 2rem;
    font-weight: 700;
  }

  .search {
    left: 24.3%;
    top: 415px;

    input {
      font-size: 1.3rem;
      width: 500px;
      background-position: 7px 4px;
      background-size: 18px;
      padding-left: 45px;
    }
  }
}

/**
  second section
 */
section {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #333;
}

@media (min-width: 320px) {
  section.blockon {
    font-size: 0.9rem;
    line-height: 1.7;

    .logo {
      height: 101px;
      margin-bottom: 2.5rem;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

@media (min-width: 750px) {
  section.blockon {
    font-size: 1.2rem;

    .logo {
      height: 120px;
      margin-bottom: 1.5rem;
    }

    p {
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
    }
  }
}

@media (min-width: 320px) {
  section.feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding-top: 0;

    > div {
      margin-bottom: 4rem;

      img {
        height: 170px;
        padding-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 750px) {
  section.feature {
    > div {
      margin-bottom: 0;
    }
  }
}

section.app {
  background-image: url("../../static/images/cover-app.png");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 4rem;

  .image {
    position: absolute; // 상위 객체 기준
    top: -84px;
    left: 5%;

    img {
      width: 516px;
    }
  }

  .content {
    position: relative;
    padding-top: 69px;
    padding-bottom: 69px;
    flex-flow: column wrap;

    height: 381px;
    width: 350px;
    text-align: left;
    float: right;
    left: 50%;
    right: 0;
    //padding-left: 740px;

    p {
      margin: 0;
      margin-bottom: 0.9rem;
    }

    p.email {
      //font-size: 1.2rem;
      font-weight: 100;
      margin: 2.5rem 0;
    }

    @media only screen and (min-width: 320px) {
      .input-text {
        p {
          font-size: 15pt;
        }
        p.email {
          font-size: 1rem;
        }
      }
      .input-wrapper {
        max-width: 290px;

        button {
          max-width: 100px;
        }
      }
    }
    .input-wrapper {
      display: flex;

      input {
        flex: 1;
        border: none;
        font-size: 1rem;
        padding: 1rem;
        border-radius: 5px 0 0 5px;
        min-width: 0; // flex에서 input이 줄어들게 함
      }

      button {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        background: #353a4c;
        color: white;
        font-size: 1rem;
        border-radius: 0 5px 5px 0;
        flex: 0 1 150px;
        min-width: 100px;
        border: none;
      }
    }
  }

  @media only screen and (max-width: 890px) {
    img {
      display: none;
    }
    .content {
      left: 10%;
    }
  }

  @media only screen and (max-width: 750px) {
    & {
      margin-top: 0;
      margin-bottom: 0;
    }
    .content {
      left: 5%;
      right: 5%;
    }
  }
}

section.contact {
  position: relative;
  top: 6rem;
  margin: auto;
  padding: 0;
  display: flex;
  align-items: stretch;
  text-align: left;
  width: 61%;
  //overflow: auto;
  //z-index: auto;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  .form {
    float: left;
    width: 100%;
    padding: 6rem 8rem;
    border-radius: 10px 0 0 10px;
    background-color: #fff;
    position: relative;

    label,
    input,
    textarea {
      display: block;
      width: 100%;
    }

    label {
      font-size: 1rem;
      color: #333;
      margin-bottom: 0.5rem;
    }

    input {
      font-size: 1rem;
      border: none;
      background: none;
      outline: none;
      color: #333;
      border-bottom: 2px solid #333;
      padding-bottom: 5px;

      &::placeholder {
        color: $oc-gray-4;
      }

      & + label {
        margin-top: 2rem;
      }
    }

    textarea {
      font-size: 1.3rem;
      border: none;
      background: none;
      outline: none;
      color: #333;
      border: 2px solid #333;
      padding: 5px;
      margin-top: 5px;
    }

    button {
      background: none;
      border: none;
      outline: none;
      padding: 0;
      position: absolute;
      bottom: 4.5rem;
      right: 6.5rem;

      img {
        width: 48px;
      }
    }
  }

  .info {
    float: left;
    width: 65%;
    background-color: #ffda44;
    padding: 6rem 2rem;
    border-radius: 0 10px 10px 0;

    h2 {
      text-align: center;
      margin: 0 0 3rem;
    }

    img {
      width: 28px;
      margin-right: 1.2rem;
    }

    div {
      margin-top: 3rem;
      display: flex;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 1165px) {
  section.contact {
    display: flex;
    flex-flow: column wrap;
    width: 70%;

    .form {
      float: left;
      width: 100%;
      padding: 3rem 3rem;
      border-radius: 10px;
      background-color: #fff;
      position: relative;

      label,
      input,
      textarea {
        display: block;
        width: 100%;
      }

      input {
        font-size: 12pt;
        padding-bottom: 1px;
      }

      textarea {
        font-size: 12pt;
        padding: 1px;
      }

      button {
        bottom: 27px;
        right: 2rem;

        img {
          width: 40px;
        }
      }
    }

    .info {
      display: none;
      /*
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      border-radius: 10px;
      padding: 2rem 2rem;
      h2 {
        text-align: center;
        margin-bottom: 1rem;
      }
      */
    }
  }
}

@media only screen and (max-width: 750px) {
  section.contact {
    width: 90%;
  }
}
