@import "~open-color/open-color";

.cover {
  height: 540px;
  color: #333;
  background-image: url("../../static/images/cover.png");
  background-size: cover;

  .logo {
    position: absolute;
    left: 400px;
    top: 185px;

    img {
      height: 73px;
    }
  }

  .subtitle {
    position: absolute;
    left: 400px;
    top: 310px;
    font-size: 2rem;
    font-weight: 700;
  }

  .search {
    position: absolute;
    left: 400px;
    top: 415px;
    padding: 1rem;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 5px;

    input {
      font-size: 1.3rem;
      border: none;
      background: none;
      outline: none;
      color: #333;
      width: 500px;
      background-image: url("../../static/images/icon/search.png");
      background-position: 7px 4px;
      background-repeat: no-repeat;
      background-size: 18px;
      padding-left: 35px;

      &::placeholder {
        color: $oc-gray-5;
      }
    }
  }
}

section {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #333;
}

section.blockon {
  font-size: 1.2rem;

  .logo {
    height: 120px;
    margin-bottom: 0.5rem;
  }

  p {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
}

section.feature {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  padding-top: 0;

  div {
    line-height: 1.6;

    img {
      height: 170px;
      padding-bottom: 1rem;
    }
  }
}

section.app {
  font-size: 1.9rem;
  position: relative;
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 4rem;

  img {
    width: 516px;
  }

  .image {
    position: absolute; // 상위 객체 기준
    top: -84px;
    left: 260px;
  }

  .content {
    background-image: url("../../static/images/cover-app.png");
    background-size: cover;
    padding-top: 69px;
    padding-bottom: 69px;
    height: 381px;
    text-align: left;
    padding-left: 740px;

    p {
      margin: 0;
      margin-bottom: 0.9rem;
    }

    p.email {
      font-size: 1.3rem;
      margin: 2.5rem 0;
    }

    .input-wrapper {
      display: flex;
      width: 51%;

      input {
        flex: 1;
        border: none;
        font-size: 1rem;
        padding: 1rem;
        border-radius: 5px 0 0 5px;
      }

      button {
        display: inline-block;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        background: #353a4c;
        color: white;
        font-size: 1rem;
        border-radius: 0 5px 5px 0;
        flex: 0 0 150px;
        border: none;
      }
    }
  }
}

section.contact {
  position: relative;
  top: 6rem;
  margin: auto;
  padding: 0;
  display: flex;
  align-items: stretch;
  text-align: left;
  width: 61%;
  overflow: auto;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  .form {
    float: left;
    width: 62%;
    padding: 6rem 8rem;
    border-radius: 10px 0 0 10px;
    background-color: #fff;
    position: relative;

    label,
    input,
    textarea {
      display: block;
      width: 21.5rem;
    }

    label {
      font-size: 1rem;
      color: #333;
      margin-bottom: 0.5rem;
    }

    input {
      font-size: 1rem;
      border: none;
      background: none;
      outline: none;
      color: #333;
      border-bottom: 2px solid #333;
      padding-bottom: 5px;

      &::placeholder {
        color: $oc-gray-4;
      }

      & + label {
        margin-top: 2rem;
      }
    }

    textarea {
      font-size: 1.3rem;
      border: none;
      background: none;
      outline: none;
      color: #333;
      border: 2px solid #333;
      padding: 5px;
      margin-top: 5px;
    }

    button {
      background: none;
      border: none;
      outline: none;
      padding: 0;
      position: absolute;
      bottom: 2rem;
      right: 5rem;

      img {
        width: 48px;
      }
    }
  }

  .info {
    float: left;
    width: 38%;
    background-color: #ffda44;
    padding: 6rem 3rem;
    border-radius: 0 10px 10px 0;

    h2 {
      text-align: center;
      margin: 0;
      margin-bottom: 3rem;
    }

    img {
      width: 28px;
      margin-right: 1.2rem;
    }

    div {
      margin-top: 3rem;
      display: flex;
      align-items: center;
    }
  }
}
