@import "~open-color/open-color";

.StepBadge {
  display: inline-block;
  text-align: center;
  width: 102px;
  height: 29px;
  line-height: 29px;
  border-radius: 15px;
  background-color: #1864ab;
  font-size: 14px;
  color: #fff;
  &.indigo {
    background-color: #4e5379;
  }
  &.blue {
    background-color: $oc-blue-8;
  }
  &.orange {
    background-color: $oc-yellow-8;
  }
  &.red {
    background-color: $oc-red-8;
  }
  &.green {
    background-color: $oc-green-8;
  }
}
