@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);

body {
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Nanum Barun Gothic", sans-serif;
  box-sizing: inherit;
}

.container {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;

  &.content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
